* {
	padding: 0;
	margin: 0;
}

.project__add {
	margin: 0 auto;
	width: 500px;
	display: flex;
	flex-direction: column;
}

.task__add {
	margin: 0 auto;
	width: 500px;
	display: flex;
	flex-direction: column;
	background: grey;
	padding: 2rem;
}

.task__add-item {
	margin-top: .5rem;
	display: flex;
	input {
		flex: 1;
	}
}

.task {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
}

.projects {
	margin: 0 auto;
	width: 80%
}

.projects__project {
	display: flex;
	justify-content: space-between;
}

.loading {
	position: fixed;
	height: 100vh;
	width: 100vw;
	text-align: center;
	vertical-align: middle;
	background: black;
	color: white;
	font-size: 5rem;
	top: 0;
	left: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	height: 2rem;
	background: yellow;
}

.task__details {
	position: absolute;
}

.task__add-possiblePreds {
	display: flex;
	flex-direction: column;
}

.task__add-preds {
	display: flex;
	flex-direction: column;
}